/* Loading screen */

@keyframes spin {
  from {
    transform: translate(-50%, 0%) rotate(0deg);
  }
  to {
    transform:translate(-50%, 0%) rotate(360deg);
  }
}

#loading-screen {
  display: none;
  position: relative;
  height: 100px;
}

#loading-screen img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

#loading-screen-bg {
  z-index: 2;
  top: 0%;
  height: 80px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

#loading-screen-content {
  z-index: 1;
  top: 10px;
  height: 60px;
}